use flake

# Ensure CLASSPATH is available when entering the direnv shell
export CLASSPATH="$PWD/bin:$PWD/lib/*"
export JAVA_TOOL_OPTIONS="-Xmx2G"

# Helpful environment variables for running the project
export ACS_KM_CLASSPATH="$CLASSPATH"

layout shell +"nix" >/dev/null 2>&1 || true
